# 阿里云 ACR 镜像仓库地址
# 格式: registry.cn-<地域>.aliyuncs.com/<命名空间>/mqtt-broker:latest
#
# 常用地域:
#   杭州  registry.cn-hangzhou.aliyuncs.com
#   上海  registry.cn-shanghai.aliyuncs.com
#   北京  registry.cn-beijing.aliyuncs.com
#   深圳  registry.cn-shenzhen.aliyuncs.com
#   香港  registry.cn-hongkong.aliyuncs.com
#
# 部署前先执行:
#   cp .env.example .env
#   然后编辑 .env 填入你的实际地址

REGISTRY=registry.cn-hangzhou.aliyuncs.com/<你的命名空间>
